<a href="https://colab.research.google.com/github/LeoFagundes07/ATIVIDADES-FACULDADE-Python/blob/main/SQL_BANCO_DE_DADOS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# 1. Conectar ao banco de dados (ou criar um novo)
# Usando a função connect do módulo sqlite3 para se conectar a um banco de dados SQLite
# chamado "exemplo.db". Se o banco de dados não existir, ele será criado automaticamente.
conn = sqlite3.connect('exemplo.db')

# 2. Criar um objeto cursor
# O cursor é usado para executar comandos SQL no banco de dados.
# Ele atua como uma espécie de "ponteiro" que percorre os resultados de consultas.
cursor = conn.cursor()

# 3. Definir o comando SQL para criar a tabela
# Define uma string CREATE_TABLE que contém um comando SQL para criar uma tabela chamada "produtos".
# Esta tabela terá quatro colunas: id (chave primária), nome (texto), preco (número real) e estoque (número inteiro).
# IF NOT EXISTS garante que a tabela só será criada se ainda não existir.
create_table = """
CREATE TABLE IF NOT EXISTS produtos (
    id INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    preco REAL NOT NULL,
    estoque INTEGER
);
"""

# 4. Executar o comando SQL para criar a tabela
cursor.execute(create_table)

# 5. Confirmar alterações no banco
conn.commit()

#6.fECHAR A CONEXÃO COM O BANCO DE DADOS
#Finalmente , voce usa o metodo close no objeto de conexão para encerra a conexão com o banco de dados
conn.close()

In [ ]:
# adicionar produto
import sqlite3

# Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

# Dados do novo produto
novo_produto = ("camiseta", 29.90, 50)

# Comando SQL para inserir o novo produto na tabela
inserir_produto = "INSERT INTO produtos (nome, preco, estoque) VALUES (?, ?, ?)"

# Executando o comando SQL de inserção
cursor.execute(inserir_produto, novo_produto)

# Confirmando as alterações
conn.commit()

# Fechando a conexão
conn.close()

In [ ]:
# Visualizar produtos

# Conectando ao banco de dados
conn = sqlite3.connect("exemplo.db")
cursor = conn.cursor()

# Comando SQL para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM Produtos"

# Executando o comando SQL
cursor.execute(selecionar_produtos)

# Obtendo todos os registros e exibindo-os
produtos = cursor.fetchall()
for produto in produtos:
    print(produto)

# Fechando a conexão
conn.close()

In [ ]:
# Atualizar produto

import sqlite3

# Conectando ao banco de dados
conn = sqlite3.connect("exemplo.db")
cursor = conn.cursor()

# Novo preço e ID do produto a ser atualizado
novo_preco = 20
produto_id = 1  # Suponhamos que queremos atualizar o produto com ID 1

# Comando SQL para atualizar o preço do produto
atualizar_preco = "UPDATE Produtos SET preco = ? WHERE id = ?"

# Executando o comando SQL de atualização
cursor.execute(atualizar_preco, (novo_preco, produto_id))

# Confirmando as alterações
conn.commit()

# Fechando a conexão
conn.close()

In [ ]:
# Excluir produto
import sqlite3

# Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

# ID do produto a ser excluído
produto_id = 1  # Suponhamos que queremos excluir o produto com ID 1

# Comando SQL para excluir o produto
excluir_produto = "DELETE FROM Produtos WHERE id = ?"

# Executando o comando SQL de exclusão
cursor.execute(excluir_produto, (produto_id,))

# Confirmando as alterações
conn.commit()

# Fechando a conexão
conn.close()